<button
  (click)="openAddRoomDialog()"
  matTooltip="Add room"
  id="addRoomButton"
  color="primary"
  mat-icon-button
>
  <mat-icon>add</mat-icon>
</button>
<mat-accordion>
  @for (room of rooms; track $index) {
  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ room.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ room.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="1" rowHeight="350px">
      <mat-grid-tile style="overflow-x: scroll">
        <button
          (click)="openAddItemDialog()"
          matTooltip="Add item"
          id="addRoomButton"
          color="primary"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
        @for (item of room.items; track $index) {

        <mat-card class="item-card">
          <mat-card-header>
            <div mat-card-avatar></div>
            <!-- Item name -->
            <mat-card-title>{{ item.name }}</mat-card-title>
            <!-- Item priority -->
            <mat-card-subtitle>{{ item.priority }}</mat-card-subtitle>
          </mat-card-header>
          <img class="item-img" mat-card-image src="assets/tv.png" alt="" />
          <mat-card-content>
            <p>{{ item.note }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        }
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
  } @empty {
  <p>No rooms yet!</p>
  }
</mat-accordion>

<!-- <a target="_blank" href="https://icons8.com/icon/102544/add">Hinzufügen</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a> -->
