<button
  (click)="openAddRoomDialog()"
  matTooltip="Add room"
  id="addRoomButton"
  color="primary"
  mat-icon-button
>
  <mat-icon>add</mat-icon>
</button>

<mat-tab-group>
  @for (room of rooms; track $index) {
  <mat-tab label="{{ room.name }}">
    <mat-grid-list cols="1" rowHeight="350px">
      <mat-grid-tile>
        <button
          (click)="openAddItemDialog()"
          matTooltip="Add item"
          id="addRoomButton"
          color="primary"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
        @for (item of room.items; track $index) {
        <mat-card class="item-card">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.priority }}</mat-card-subtitle>
          </mat-card-header>
          <img class="item-img" mat-card-image src="assets/tv.png" alt="" />
          <mat-card-content>
            <p>{{ item.note }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button matTooltip="Sell item" mat-icon-button>
              <mat-icon>attach_money</mat-icon>
            </button>
            <button matTooltip="Edit item" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        }
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  } @empty {
  <p>No rooms yet!</p>
  }
</mat-tab-group>
<!-- <a target="_blank" href="https://icons8.com/icon/102544/add">Hinzufügen</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a> -->
